# Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/

# Android
*.iml
.gradle
/local.properties

# Android signing secrets (keep out of version control)
**/key.properties
**/*.jks
**/*.keystore
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/captures
/gradlew
/gradlew.bat
/gradle/wrapper/gradle-wrapper.jar

# iOS
/ios/Pods/
/ios/.symlinks/
/ios/Flutter/.last_build_id
/ios/Flutter/Flutter.framework
/ios/Flutter/Flutter.podspec

# IDE
.idea/
*.swp
*.swo

# Generated
generated_plugin_registrant.dart
*.g.dart
*.freezed.dart
